button {
  border: none;
  background-color: firebrick;
  color: floralwhite;
  padding: 10px 20px;
  transition: 0.3s;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

button:hover {
  border-radius: 30% 70% 42% 58% / 49% 45% 55% 51%;
  background-color: rgb(212, 42, 42);
}

button:active {
  transform: scale(0.95);
}
